.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="20"] {
	background-image: url(/in/apple-music/images/overview/exclusive_river/la_oficial__dwu2mvcar4mu_large.jpg);
}

@media (min-resolution: 144dpi), only screen and(min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="20"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/la_oficial__dwu2mvcar4mu_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="20"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/la_oficial__dwu2mvcar4mu_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and(min-resolution: 1.5dppx),
	only screen and(max-width: 1068px) and(min-resolution: 144dpi) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="20"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/la_oficial__dwu2mvcar4mu_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="20"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/la_oficial__dwu2mvcar4mu_small.jpg);
	}
}

@media only screen and (max-width: 734px) and(min-resolution: 1.5dppx),
	only screen and(max-width: 734px) and(min-resolution: 144dpi) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="20"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/la_oficial__dwu2mvcar4mu_small_2x.jpg);
	}
}

.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="21"] {
	background-image: url(/in/apple-music/images/overview/exclusive_river/sauce_boyz__cbrq1dbc4uuu_large.jpg);
}

@media (min-resolution: 144dpi), only screen and(min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="21"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/sauce_boyz__cbrq1dbc4uuu_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="21"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/sauce_boyz__cbrq1dbc4uuu_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and(min-resolution: 1.5dppx),
	only screen and(max-width: 1068px) and(min-resolution: 144dpi) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="21"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/sauce_boyz__cbrq1dbc4uuu_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="21"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/sauce_boyz__cbrq1dbc4uuu_small.jpg);
	}
}

@media only screen and (max-width: 734px) and(min-resolution: 1.5dppx),
	only screen and(max-width: 734px) and(min-resolution: 144dpi) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="21"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/sauce_boyz__cbrq1dbc4uuu_small_2x.jpg);
	}
}

.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="19"] {
	background-image: url(/in/apple-music/images/overview/exclusive_river/kelleigh_bannen__fbp66l9h81im_large.jpg);
}

@media (min-resolution: 144dpi), only screen and(min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="19"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/kelleigh_bannen__fbp66l9h81im_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="19"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/kelleigh_bannen__fbp66l9h81im_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and(min-resolution: 1.5dppx),
	only screen and(max-width: 1068px) and(min-resolution: 144dpi) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="19"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/kelleigh_bannen__fbp66l9h81im_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="19"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/kelleigh_bannen__fbp66l9h81im_small.jpg);
	}
}

@media only screen and (max-width: 734px) and(min-resolution: 1.5dppx),
	only screen and(max-width: 734px) and(min-resolution: 144dpi) {
	.section-cards .cards-container .tile-music-live .tile-boc .marquee-item[data-i="19"] {
		background-image: url(/in/apple-music/images/overview/exclusive_river/kelleigh_bannen__fbp66l9h81im_small_2x.jpg);
	}
}

.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="1"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/afrobeats_hits__chvtj1rvbuly_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="1"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/afrobeats_hits__chvtj1rvbuly_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="2"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/after_dinner_nap__nfoic52vu8yq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="2"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/after_dinner_nap__nfoic52vu8yq_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="3"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/all_indie__bnz7i842axw2_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="3"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/all_indie__bnz7i842axw2_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="4"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/alpha_playlist__dqp8jzo86piu_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="4"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/alpha_playlist__dqp8jzo86piu_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="5"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/altctrl_playlist__b6lgv9unrxw2_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="5"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/altctrl_playlist__b6lgv9unrxw2_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="9"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/good_times_hits__fsz80z5tjqqa_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="9"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/good_times_hits__fsz80z5tjqqa_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="11"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/hardrock_spatial_audio__b5l1oc8srupe_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="11"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/hardrock_spatial_audio__b5l1oc8srupe_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="13"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/hits_afrique__cve4fhznpvki_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="13"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/hits_afrique__cve4fhznpvki_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="16"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/melodic_rap__cz21ta25zeuu_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="16"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/melodic_rap__cz21ta25zeuu_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="17"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/new_in_alternative__ice6zxzhqimy_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="17"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/new_in_alternative__ice6zxzhqimy_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="18"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/new_in_hip-hop__fxcue0xfwga6_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="18"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/new_in_hip-hop__fxcue0xfwga6_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="24"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/rb_now__cg1pfypwvmc2_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="24"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/rb_now__cg1pfypwvmc2_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="26"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/summer_vibes__d6okm86nlm0y_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="26"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/summer_vibes__d6okm86nlm0y_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="27"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/todays_country__dej97kecdimq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="27"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/todays_country__dej97kecdimq_large_2x.jpg);
	}
}
.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="28"] {
	background-image: url(/in/apple-music/images/overview/discovery/foc/viral_remixed__bezwygdiyv4y_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-cards .cards-container .tile-music-discovery .parallax-item[data-i="28"] {
		background-image: url(/in/apple-music/images/overview/discovery/foc/viral_remixed__bezwygdiyv4y_large_2x.jpg);
	}
}
